@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-Regular.ttf)
}

*{
    margin: 0 auto;
    padding: 0;
    font-family: Roboto;
}



main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}








/*---------Side Bar------------------*/

.sidebar{
    
    grid-column: 1 / 2;
    grid-row: 1/3;
    height: 100vh;
    width: 100%;
    background-color: rgb(155, 40, 59);
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    align-items: start;
    justify-content: start;
}


.sidebar .title{
    height: 100%;
    width: 100%;
    margin: 20px;
    
}

a{
    text-decoration: none;
    
}

.sidebar a{
    font-size: 20px;
    color: white;
   
   
}

.sidebar a:hover{
  color: rgb(155, 40, 59);
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  
  
  
}



h1{
    display: inline;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.title .mdi-saw-blade{
    font-size: 50px;
}

.menu{
    height: 100%;
    width:  100%;
}

.element-menu{
    margin: 20px;
    width: 100%;
    height: 5%;
}


/*------------ Nav----------------------*/

.nav {
    
    grid-column: 2 / 3;
    grid-row: 1/2;
    height: 98%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.428);
    
}

.top{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
}

.top > *{
    display: inline-block;
    width: 100%;
}

.search-section{
    align-self: center;
    justify-self:center;
    padding-left: 40px;
    width: 100%;
}

input{
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 220, 225);
    border: 0px solid black
}

.mdi-magnify{
    font-size: 28px;
    align-self: center;
    justify-self: center;
    padding: 15px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}



.min-perfil{
    
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}


.min-perfil .mdi {
    font-size: 30px;
}

.min-perfil .name{
    font-weight: 900;
    font-size: 17px;

}

.profile-img-min{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: inline-block;
   

}

.profile-img-min img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}


.bottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.admin-big{
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-self: start;
    justify-self: start;
    width: 100%;
    margin-left: 100px;
}

.admin-big .profile-img-max
{
    grid-row: 1 / 3;
    grid-column: 1/2;
}

.admin-big span{
    font-weight: 900;
    width: 100%;
}

.admin-big .name{
    font-size: 25px;
    align-self: start;
    justify-self: start;
    
}

.buttons{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.buttons button{
    height: 50%;
    width: 70%;
    border: 0px;
    background-color: rgb(155, 40, 59);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.buttons button:hover{
    color: rgb(155, 40, 59);
    background-color: white;
    border: 1px solid rgb(155, 40, 59);
    cursor: pointer;
}


.admin-big .greeting{
    align-self: end;
    justify-self: end;
}

.profile-img-max{
    width: 75px;
    height: 75px;
    
    display: inline-block;
   

}

.profile-img-max img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

/*--------Article--------*/

.article{
    
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(255, 220, 225);
    padding: 20px;
    box-sizing: border-box;
}


.projects{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}

.trending{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
}

.annoucements{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.annoucements h3{
    letter-spacing: 2px;
    padding-left: 10px;
   
    color: rgb(0, 0, 0);
}

.container-annou{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.221);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    height: 80%;
    font-size: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.container-annou div{
    width: 85%;
    height: 75%;
    border-bottom: 1px solid rgb(188, 188, 188);
}

.container-annou div:last-child{
    border-bottom: 0px;
}

.container-annou p{
    color: rgb(88, 88, 88);
}

.container-annou h4{
    font-size: 15px;
    color: rgb(22, 9, 9);
}


.trending h3{
    letter-spacing: 2px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.trend-container{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 80%;  
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.372);
}

.trend-container > div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    
    justify-content: center;
    align-items: center;
   
    
}

.trend-container > div h5{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    justify-self: start;
    width: 100%;
    height: 50%;
   
}

.trend-container > div div{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    
}

.trend-container > div span{
    align-self: start;
    justify-self: start;
    width: 100%;
    
   
}


.projects h2{
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.card{
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.369);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    
}

.card-text{
    width: 100%;
    height: 100%;
}

.card-text h3{
    background-color:  rgb(155, 40, 59);
    width: 100%;
    height: 40%;
    border-radius: 20px 20px 0 0;
    align-self: center;
    justify-self: center;
    padding: 30px ;
    box-sizing: border-box;
}

.card-text p{
    padding-left: 25px;
    padding-top: 5px;
}

.card-text h3 a {
    color: white;
}

.card-text h3 a:hover{
    color: rgb(234, 163, 163);
}

.icons{
    justify-self: end;
    
    height: 50%;
    width: 100%;
    padding-left: 65%;
}

.icons span{
    font-size: 23px;
    padding-left: 15px;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 95%;
    box-sizing: border-box;
    
}